/* Basic display classes */
.flexy {
    display: flex;
    flex-wrap: wrap;
}

.centered {
    justify-content: center;
}

.textCentered {
    text-align: center;
}

/* Container classes */
.fullContainer {
    width: 100%;
}

.fiftyContainer {
    width: 50%;
}

.fiftyTwoContainer {
    width: 52%;
}

/* Specifics */
#topSec {
    height: 50px;
}

#viewHighscores {
    cursor: pointer;
}

#timerCont {
    text-align: right;
}

#qHolder {
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 0px 0px 2px 0px;
}

button {
    background-color: #2C4251;
    margin-bottom: 2px;
    border-radius: 3px;
    color: white;
}

h1, h3 {
    font-weight: bold;
}

#starterP {
    font-weight: bold;
}